.form-control {
	border-width : 0.15em;
}
form label.error {
    margin:0px;
    color:#f44336;
}
input.error, textarea.error {
    border-color: #f44336;
    /*background:#ffdcdc;*/
}
input.valid, textarea.valid {
    border-color: #4caf50;
}
.error .messages, .error .messages li {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}
.error .messages li {
    padding: 0.1em 0 0 1.5em;
    color: #f44336;
}
.error input, .error textarea {
    color: #f44336;
}
.success {
    background: url('https://www.iconsdb.com/icons/preview/green/checkmark-xxl.png') 350px 0.2em no-repeat;
}
.navbar-text {
	float : none;
}
.page-title {
	padding : 20px 36px 20px 0;
}
.wysihtml5{
    max-height: 500px;
}

.no-border{
    border-color: #ddd;
}

.icons-list > li{
    border:2px solid #2196f3; 
    padding: 2px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 5px;
}